@import "./variables.scss";

html, body {
    margin: 0;
    height: 100%;
    color: var(--color-text);
    background-color: var(--color-bg);
    font-family: "News Cycle", sans-serif;
}

* {
    cursor: none;
}